<div class="w100r">
    <div class="lt-grid lt-grid-cols-4 lt-gap-1">
        <div class="lt-box text-valign-middle text-halign-center">
            <p>#Footer A</p>
        </div>
        <div class="lt-box text-valign-middle text-halign-center">
            <p>#Footer B</p>
        </div>
        <div class="lt-box text-valign-middle text-halign-center">
            <p>#Footer C</p>
        </div>
        <div class="lt-box text-valign-middle text-halign-center">
            <p>#Footer D</p>
        </div>
    </div>
</div>