.country-flag{display:inline-block;width:24px;height:18px;background-repeat:no-repeat;background-position:center;background-size:contain;vertical-align:middle;color:transparent}
.country-flag.AE{background-image:url(/presets/default/svg/ae.svg)}
.country-flag.AL{background-image:url(/presets/default/svg/al.svg)}
.country-flag.AM{background-image:url(/presets/default/svg/am.svg)}
.country-flag.AR{background-image:url(/presets/default/svg/ar.svg)}
.country-flag.AT{background-image:url(/presets/default/svg/at.svg)}
.country-flag.AU{background-image:url(/presets/default/svg/au.svg)}
.country-flag.AZ{background-image:url(/presets/default/svg/az.svg)}
.country-flag.BA{background-image:url(/presets/default/svg/ba.svg)}
.country-flag.BD{background-image:url(/presets/default/svg/bd.svg)}
.country-flag.BE{background-image:url(/presets/default/svg/be.svg)}
.country-flag.BG{background-image:url(/presets/default/svg/bg.svg)}
.country-flag.BR{background-image:url(/presets/default/svg/br.svg)}
.country-flag.BY{background-image:url(/presets/default/svg/by.svg)}
.country-flag.CA{background-image:url(/presets/default/svg/ca.svg)}
.country-flag.CH{background-image:url(/presets/default/svg/ch.svg)}
.country-flag.CL{background-image:url(/presets/default/svg/cl.svg)}
.country-flag.CN{background-image:url(/presets/default/svg/cn.svg)}
.country-flag.CO{background-image:url(/presets/default/svg/co.svg)}
.country-flag.CZ{background-image:url(/presets/default/svg/cz.svg)}
.country-flag.DE{background-image:url(/presets/default/svg/de.svg)}
.country-flag.DK{background-image:url(/presets/default/svg/dk.svg)}
.country-flag.EE{background-image:url(/presets/default/svg/ee.svg)}
.country-flag.EG{background-image:url(/presets/default/svg/eg.svg)}
.country-flag.ES{background-image:url(/presets/default/svg/es.svg)}
.country-flag.ET{background-image:url(/presets/default/svg/et.svg)}
.country-flag.FI{background-image:url(/presets/default/svg/fi.svg)}
.country-flag.FR{background-image:url(/presets/default/svg/fr.svg)}
.country-flag.GB{background-image:url(/presets/default/svg/gb.svg)}
.country-flag.GE{background-image:url(/presets/default/svg/ge.svg)}
.country-flag.GR{background-image:url(/presets/default/svg/gr.svg)}
.country-flag.HK{background-image:url(/presets/default/svg/hk.svg)}
.country-flag.HR{background-image:url(/presets/default/svg/hr.svg)}
.country-flag.HU{background-image:url(/presets/default/svg/hu.svg)}
.country-flag.ID{background-image:url(/presets/default/svg/id.svg)}
.country-flag.IE{background-image:url(/presets/default/svg/ie.svg)}
.country-flag.IL{background-image:url(/presets/default/svg/il.svg)}
.country-flag.IN{background-image:url(/presets/default/svg/in.svg)}
.country-flag.IR{background-image:url(/presets/default/svg/ir.svg)}
.country-flag.IS{background-image:url(/presets/default/svg/is.svg)}
.country-flag.IT{background-image:url(/presets/default/svg/it.svg)}
.country-flag.JP{background-image:url(/presets/default/svg/jp.svg)}
.country-flag.KE{background-image:url(/presets/default/svg/ke.svg)}
.country-flag.KH{background-image:url(/presets/default/svg/kh.svg)}
.country-flag.KR{background-image:url(/presets/default/svg/kr.svg)}
.country-flag.KZ{background-image:url(/presets/default/svg/kz.svg)}
.country-flag.LA{background-image:url(/presets/default/svg/la.svg)}
.country-flag.LK{background-image:url(/presets/default/svg/lk.svg)}
.country-flag.LT{background-image:url(/presets/default/svg/lt.svg)}
.country-flag.LV{background-image:url(/presets/default/svg/lv.svg)}
.country-flag.MD{background-image:url(/presets/default/svg/md.svg)}
.country-flag.MK{background-image:url(/presets/default/svg/mk.svg)}
.country-flag.MN{background-image:url(/presets/default/svg/mn.svg)}
.country-flag.MX{background-image:url(/presets/default/svg/mx.svg)}
.country-flag.MY{background-image:url(/presets/default/svg/my.svg)}
.country-flag.NL{background-image:url(/presets/default/svg/nl.svg)}
.country-flag.NO{background-image:url(/presets/default/svg/no.svg)}
.country-flag.NP{background-image:url(/presets/default/svg/np.svg)}
.country-flag.NZ{background-image:url(/presets/default/svg/nz.svg)}
.country-flag.PH{background-image:url(/presets/default/svg/ph.svg)}
.country-flag.PK{background-image:url(/presets/default/svg/pk.svg)}
.country-flag.PL{background-image:url(/presets/default/svg/pl.svg)}
.country-flag.PT{background-image:url(/presets/default/svg/pt.svg)}
.country-flag.RO{background-image:url(/presets/default/svg/ro.svg)}
.country-flag.RS{background-image:url(/presets/default/svg/rs.svg)}
.country-flag.RU{background-image:url(/presets/default/svg/ru.svg)}
.country-flag.SE{background-image:url(/presets/default/svg/se.svg)}
.country-flag.SI{background-image:url(/presets/default/svg/si.svg)}
.country-flag.SK{background-image:url(/presets/default/svg/sk.svg)}
.country-flag.TH{background-image:url(/presets/default/svg/th.svg)}
.country-flag.TR{background-image:url(/presets/default/svg/tr.svg)}
.country-flag.TW{background-image:url(/presets/default/svg/tw.svg)}
.country-flag.UA{background-image:url(/presets/default/svg/ua.svg)}
.country-flag.US{background-image:url(/presets/default/svg/us.svg)}
.country-flag.UZ{background-image:url(/presets/default/svg/uz.svg)}
.country-flag.VN{background-image:url(/presets/default/svg/vn.svg)}
.country-flag.ZA{background-image:url(/presets/default/svg/za.svg)}